<!DOCTYPE html>
<html th:lang="${#locale.language}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" media="(prefers-color-scheme: light)" content="#a3d4c4">
    <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#2f3033">
    <meta name="theme-color" content="#a3d4c4">
    <link th:href="@{/css/theme.css}" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, interactive-widget=overlays-content">
    <title th:text="#{login.page.title}">KubeDNA - Login</title>
    <script defer src="/js/App.js?@project.version@" type="module"></script>
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">
    <link rel="icon" href="/img/favicon.avif" sizes="32x32">
    <link rel="icon" href="/img/favicon.avif" sizes="192x192">
    <link rel="icon" href="/img/favicon.avif">
</head>
<body>
<div class="mainWrapper">

    <header>
        <div class="headerBar">
            <a>
                <div class="logo"><img src="/img/kubedna-zw.png" alt="KubeDNA"></div>
            </a>
        </div>
    </header>

    <main>
        <div class="container title">
            <h3 th:text="#{mfa.enable.title}">Enable Your Authenticator App</h3>
            <div th:text="#{mfa.enable.description}">Use an authenticator apps to generate one-time passwords as a second factor for verifying your identity.</div>
        </div>

        <div class="container">
            <article>
<!--            <div class="text">-->
<!--                Use an authenticator app to scan the QR code.-->
<!--            </div>-->

            <div class="qrCode">
                <img th:src="${qrCode}" alt="Qr code">
            </div>
            <div class="text">
                <span th:text="#{mfa.enable.scanHelp.prefix}">Having trouble scanning?</span> <a id="showCode" th:text="#{mfa.enable.scanHelp.link}">Show code</a> <span th:text="#{mfa.enable.scanHelp.suffix}">to manually set up your authenticator app.</span>
            </div>

            <div id="setupKey" class="hide">
                <label th:text="#{mfa.enable.secret.label}">Your MFA Secret</label>
                <pre><code th:text="${secret}"></code></pre>
            </div>

            <form action="/mfa/enable" method="post" th:classappend="${error != null ? 'invalid' : 'valid'}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>

                <label for="code" th:text="#{mfa.code.label}">Authentication Code:</label>
                <input type="number" id="code" name="code" autofocus autocomplete="off"/>
                <span class="error" th:text="#{mfa.code.error}">Invalid code, please try again</span>
                <div class="spacer">&nbsp;</div>
                <div class="buttonHolder">
                    <button type="submit">
                        <span th:text="#{mfa.verify}">Verify</span>
                    </button>
                </div>
            </form>

            </article>

            <div class="skipButton">
                <form action="/mfa/enable" method="post">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                    <input type="hidden" name="code" value="skip" />
                    <button type="submit" th:text="#{mfa.enable.skip}">Skip For Now</button>
                </form>
            </div>
        </div>
    </main>
    <footer></footer>
</div>
</body>
</html>