<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/theme :: hxHead('Maintenance', false)}"></th:block>
    <script defer src="/js/App.js" type="module"></script>
</head>
<body>
<div class="mainWrapper">

    <header th:replace="~{fragments/theme :: hxHeader(false)}"></header>

    <main>
<!--/*        <div class="container title">*/-->
<!--/*            <h3>Maintenance</h3>*/-->
<!--/*        </div>*/-->



        <div class="container center">
            <article>
                <div class="actionSuccess" >
<!--/*                    <i class="done"></i>*/-->
                    <h3>Scheduled maintenance</h3>
                    <span class="addition">We’re currently performing scheduled maintenance to improve your experience.<br/><br/>We apologize for the inconvenience and appreciate your patience.<br/>Try again later!</span>
                </div>
                <div class="spacer">&nbsp;</div>
                <div class="spacer">&nbsp;</div>
                <div class="buttonHolder">
                    <button type="button" class="continueLogin" th:attr="data-href=@{/login}">
                        <i class="login"></i>
                        <span>Retry</span>
                    </button>
                </div>
                <!--/*            <div class="spacer">&nbsp;</div>*/-->
                <!--/*            <div class="spacer">&nbsp;</div>*/-->
            </article>
        </div>

<!--/*        <div class="container" th:if="${param.error != null && #strings.toString(param.error).equals('accountLocked')}">*/-->
<!--/*            <div class="actionError" id="loginFailed">*/-->
<!--/*                <span>Your account is almost ready—check your inbox and click the link to activate!</span>*/-->
<!--/*            </div>*/-->
<!--/*        </div>*/-->

<!--/*        <div class="container" th:if="${param.info != null && #strings.toString(param.info).equals('verified')}">*/-->
<!--/*            <div class="actionVerified">*/-->
<!--/*                <span>Your account is all set—welcome aboard!</span>*/-->
<!--/*            </div>*/-->
<!--/*        </div>*/-->
    </main>
    <footer th:replace="~{fragments/theme :: hxFooter}"></footer>
</div>
</body>
</html>