<!DOCTYPE html>
<html th:lang="${#locale.language}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/theme :: hxHead(#{magic.confirm.title}, false)}"></th:block>
    <script defer th:src="@{/js/App.js}" type="module"></script>
</head>
<body>
<div class="mainWrapper">

    <header th:replace="~{fragments/theme :: hxHeader(false)}"></header>

    <main>
        <div class="container title">
            <h1 class="hx-title" th:text="#{magic.confirm.title}"></h1>
            <div class="description" th:text="#{magic.confirm.description}"></div>
        </div>

        <div class="container">
            <article>
                <form th:action="@{/login/magic/verify}" method="post">
                    <input type="hidden" name="token" th:value="${token}"/>
                    <div class="buttonHolder">
                        <button type="submit"><span th:text="#{magic.confirm.submit}">Sign in</span></button>
                    </div>
                </form>
            </article>
        </div>
        <footer th:replace="~{fragments/theme :: hxFooter}"></footer>
    </main>
</div>
</body>
</html>
