<!DOCTYPE html>
<html th:lang="${#locale.language}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/theme :: hxHead(#{magic.invalid.title}, false)}"></th:block>
    <script defer src="/js/App.js" type="module"></script>
</head>
<body>
<div class="mainWrapper">

    <header th:replace="~{fragments/theme :: hxHeader(false)}"></header>

    <main>
        <div class="container title">
            <h1 class="hx-title" th:text="#{magic.invalid.title}"></h1>
            <div class="description" th:text="#{magic.invalid.description}"></div>
        </div>

        <div class="container">
            <article>
                <div class="buttonHolder">
                    <a class="button" th:href="@{/login/magic}" th:text="#{magic.invalid.again}">Send a new link</a>
                </div>
                <div class="spacer">&nbsp;</div>
                <div class="text"><a th:href="@{/login}" th:text="#{magic.back}">Back to sign in</a></div>
            </article>
        </div>
        <footer th:replace="~{fragments/theme :: hxFooter}"></footer>
    </main>
</div>
</body>
</html>
