<!DOCTYPE html>
<html th:lang="${#locale.language}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/theme :: hxHead(#{magic.request.title}, false)}"></th:block>
    <script defer th:src="@{/js/App.js}" type="module"></script>
</head>
<body>
<div class="mainWrapper">

    <header th:replace="~{fragments/theme :: hxHeader(false)}"></header>

    <main>
        <div class="container title">
            <h1 class="hx-title" th:text="#{magic.request.title}"></h1>
            <div class="description" th:text="#{magic.request.description}"></div>
        </div>

        <div class="container">
            <article>
                <form th:action="@{/login/magic}" method="post">
                    <label for="email" th:text="#{magic.email.label}">Email address:</label>
                    <input type="email" id="email" name="email" autofocus autocomplete="email" required/>
                    <div class="spacer">&nbsp;</div>
                    <div class="buttonHolder">
                        <button type="submit"><span th:text="#{magic.request.submit}">Email me a link</span></button>
                    </div>
                </form>
                <div class="spacer">&nbsp;</div>
                <div class="text"><a th:href="@{/login}" th:text="#{magic.back}">Back to sign in</a></div>
            </article>
        </div>
        <footer th:replace="~{fragments/theme :: hxFooter}"></footer>
    </main>
</div>
</body>
</html>
