form {
    //max-width: 800px;
    width: 100%;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .spacer {
        flex-grow: 2;
        flex-shrink: 1;
        min-height: 30px;
    }

    label:first-of-type {
        margin-top: 0;
        //background: red;
    }

    label {
        margin-top: 16px;
        margin-bottom: 4px;
        display: block;
        font-weight: 600;
    }

    //.buttonHolder {
    //    padding-bottom: 16px;
    //}


    textarea {
        resize: none;
        height: 200px;
    }

    button {
        border-radius: 5px;
        color: var(--color-white);
        cursor: pointer;
        background-color: var(--color-button-green);
        border: 1px solid var(--color-green);
        padding: 13px;
        font-weight: 600;

        &.cancel {
            border: 1px solid var(--color-box-border);
            color: var(--color-black);
            background-color: rgba(71, 105, 87, 0.1);
        }
    }

    input[type=date],
    select {
        color: var(--color-black);
    }

    select:focus,
    textarea:focus,
    input:focus {
        outline: none;
    }

    label:has(+ input.invalid, + select.invalid) {
        color: #9C4B3E;
    }

    span.error {
        display: none;
    }
    &.invalid {
        //background: red;
        span.error {
            display: unset;
            color: #9C4B3E;
            padding: 4px 0;
        }

        label {
            color: #9C4B3E;
        }

        textarea,
        select,
        input {
            background-color: rgba(255, 221, 221, 0.2);
            border-color: #f1aaaa;
        }
    }

    textarea.invalid,
    select.invalid,
    input.invalid {
        background-color: rgba(255, 221, 221, 0.2);
        border-color: #f1aaaa;
    }

    label.invalid {
        color: #9C4B3E;
    }


}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--color_grade_out);
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--color_grade_out);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--color_grade_out);
}

input[type=text], input[type=search], input[type=number], input[type=password], input[type=date], select, textarea {
    width: 100%;
    border: 1px solid var(--color-box-border);
    border-radius: 5px;
    //padding: 11px 13px;
    padding: 7px 13px;
    font-size: 12px;
    display: inline-block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

button.icon,
input[type=search].icon,
input[type=text].icon {
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center left;
    background-position-x: 10px;
    padding-left: 34px;
}

//input[type=search].icon.search,
//input[type=text].icon.search {
//    //background-image: url("/img/icon/search.svg?v=PROJECT_VERSION");
//}

