<!DOCTYPE html>
<html th:lang="${#locale.language}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/theme :: hxHead(#{flow.consent.title}, false)}"></th:block>
    <script defer src="/js/App.js" type="module"></script>
</head>
<body>
<div class="mainWrapper">
    <header th:replace="~{fragments/theme :: hxHeader(false)}"></header>
    <main>
        <div class="container title">
            <h1 class="hx-title" th:text="#{flow.consent.title}">Terms of Service</h1>
            <div class="description" th:text="#{flow.consent.description}">Please review and accept the terms to continue.</div>
        </div>
        <div class="container">
            <article>
            <form th:action="${flowAction}" method="post" th:classappend="${error != null ? 'invalid' : 'valid'}">
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <input type="hidden" name="accept" value="true"/>
                <span class="error" role="alert" th:if="${error != null}" th:text="#{flow.consent.error}">You must accept the terms to continue</span>
                <div class="spacer">&nbsp;</div>
                <div class="buttonHolder"><button type="submit"><span th:text="#{flow.consent.submit}">Accept &amp; Continue</span></button></div>
            </form>
            </article>
        </div>
        <footer th:replace="~{fragments/theme :: hxFooter}"></footer>
    </main>
</div>
</body>
</html>
