@import "component/common";
@import 'structure';
@import 'component/header';
@import 'component/footer';
@import 'component/form';
@import 'component/icon';

//@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Work Sans';
    //font-family: "Hanken Grotesk", sans-serif;
    font-style: normal;
    //font-weight: 600;
    font-weight: 100 900;
    src: url("/css/font/WorkSans.woff2") format('woff2');
}

//@font-face {
//    font-family: 'Work Sans';
//    font-style: normal;
//    font-weight: 400;
//    font-display: swap;
//    src: url(/css/font/WorkSans.woff2) format('woff2');
//}
